<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jclayton.freshbooks</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4F7CC5A0-82DA-4802-8AE1-7B128A479C33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>181A9DBF-9E2A-4BC5-8A8F-1124BC310DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>99EC7729-2797-4B49-A089-21BCDDAC8606</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E28814F3-CB9E-4BD4-B35E-7660A5C7C91B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E28814F3-CB9E-4BD4-B35E-7660A5C7C91B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5D289D8-6A84-4467-9F3D-AFEA0B08AAE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Josh Clayton</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Freshbooks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>fresh</string>
				<key>script</key>
				<string>[[ -s "$HOME/.ruby-version-shim" ]] &amp;&amp; source "$HOME/.ruby-version-shim"

ruby freshbooks.rb "{query}"</string>
				<key>title</key>
				<string>Freshbooks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F7CC5A0-82DA-4802-8AE1-7B128A479C33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>181A9DBF-9E2A-4BC5-8A8F-1124BC310DBE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cache-freshbooks</string>
				<key>text</key>
				<string>Cache Freshbooks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>99EC7729-2797-4B49-A089-21BCDDAC8606</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>[[ -s "$HOME/.ruby-version-shim" ]] &amp;&amp; source "$HOME/.ruby-version-shim"

ruby cache_freshbooks.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E28814F3-CB9E-4BD4-B35E-7660A5C7C91B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Cache Freshbooks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E5D289D8-6A84-4467-9F3D-AFEA0B08AAE3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>181A9DBF-9E2A-4BC5-8A8F-1124BC310DBE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4F7CC5A0-82DA-4802-8AE1-7B128A479C33</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>99EC7729-2797-4B49-A089-21BCDDAC8606</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E28814F3-CB9E-4BD4-B35E-7660A5C7C91B</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E5D289D8-6A84-4467-9F3D-AFEA0B08AAE3</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://joshuaclayton.me</string>
</dict>
</plist>
